<% provide(:title, 'Contact') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 one-col">
    <h1>Contact</h1>
    <p>
    Contact Dive Into Code Team
    <a href="https://diver.diveintocode.jp/login">contact page</a>.
    </p>
 </div>
</div>
