<% provide(:title, 'Help') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 one-col">
    <h1>Help</h1>
    <p>
      Consult with the DIC Mentors for help
      <a href="https://diver.diveintocode.jp/login">Dive Into Code official page</a>.
      For more Information
      <a href="https://www.railstutorial.org"><em>Ruby on Rails Tutorial</em>
      book</a>.
    </p>
  </div>
</div>
